<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Inscrire rebelle</title>
  </head>
  <body>
    <header>
      <div class="title">
        
        <h2 class="text-center">
          <img class="btn-prev" style="margin-right: 13em; width: 80px;" src="/assets/images/go-back-3.png" alt="retour à la page précédente">Nouveau rebelle</h2>
      </div>
    </header>
    <main center>
      <form class="w-25">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm">
            <input type="email" class="form-control" id="inputEmail3" placeholder="nom">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Prenom</label>
          <div class="col-sm">
            <input type="password" class="form-control" id="inputPassword3" placeholder="prenom">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Race</label>
          <div class="col-sm">
            <input type="password" class="form-control" id="inputPassword3" placeholder="race">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Age</label>
          <div class="col-sm">
            <input type="password" class="form-control" id="inputPassword3" placeholder="age">
          </div>
        </div>
        <div class="form-group row">
          <div class="w-100 text-right col-sm" style="margin: 50px 0;">
            <button type="submit" class="btn btn-secondary w-100 " style="border-radius: 0;">Inscrire</button>
          </div>
        </div>
      </form>
    </main>
  </body>

</html>
