<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Inscrire rebelle</title>
  </head>
  <body>
    <main>
        <div class="d-grid gap-2 col-6 mx-auto" style="text-align: center; margin: 50px 0;">
            <a type="submit" style="border-radius: 0; padding: 35px 0px; width: 20em; color: black; font-size: 1.5em; background-color: rgb(212, 212, 212);" class="btn btn-lg btn-light" href="/list-rebels-formation.html">Gestion des rebelles</a>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto" style="text-align: center; margin: 50px 0;">
            <a type="submit" style="border-radius: 0; padding: 35px 0px; width: 20em; color: black; font-size: 1.5em; background-color: rgb(212, 212, 212);" class="btn btn-lg btn-light">Gestion du materiel</a>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto" style="text-align: center; margin: 50px 0;">
            <a type="submit" style="border-radius: 0; padding: 35px 0px; width: 20em; color: black; font-size: 1.5em; background-color: rgb(212, 212, 212);" class="btn btn-lg btn-light">Gestion des missions</a>
          </div>
    </main>
  </body>

</html>
